<nav aria-label="Breadcrumb"
     class="flex items-center justify-center gap-1 mb-3 ">
  <ol class="flex flex-wrap items-center w-full gap-1 px-3 py-2 text-sm text-gray-500 border-b border-gray-200 ">
    {% for crumb in breadcrumbs %}
      {% if not forloop.last %}
        <li>
          <a href="{{ crumb.url }}"
             hx-get="{{ crumb.url }}"
             hx-push-url="true"
             hx-target="#main-content"
             hx-boost="true"
             class="block capitalize transition hover:text-cyan-500"> {{ crumb.name }} </a>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg"
               class="w-4 h-4"
               viewBox="0 0 20 20"
               stroke-width="0.01px"
               fill="currentColor">
            <path stroke="currentColor" fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </li>
      {% else %}
        <li>
          <a class="block capitalize transition hover:text-cyan-500">{{ crumb.name }}  </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
