#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* 进度条的高度 */
    background-color: #007bff; /* 进度条的颜色 */
    display: none; /* 初始状态下隐藏 */
    z-index: 1000; /* 设置一个较高的 z-index 值，确保进度条显示在最前面 */
  }
  
  #progress-bar {
    height: 100%;
    width: 0;
    background-color: #007bff; /* 进度条的颜色 */
  }
  