/* 页面顶部的加载指示器动画 */
.loading-bar {
  width: 100%;
  height: 2px;
  background-color: cyan;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  animation: wave 4s infinite; /* 使用CSS动画来创建波动效果 */
  opacity: 0;
}
@keyframes wave {
  0% {
    transform: scaleX(0); /* 初始缩放 */
  }
  50% {
    transform: scaleX(1.0); /* 最大缩放 */
  }
  100% {
    transform: scaleX(0); /* 回到初始缩放 */
  }
}

/* 移除x-cloak时的过场动画 */
.fade-and-slide-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s , transform 0.5s;
}
.fade-and-slide-in[x-cloak] {
  opacity: 0;
  transform: translateY(-2em); /* 初始化为上移位置 */
}

