<div class="flex flex-col justify-between h-[100%]">
  <a
    href="{{product.get_absolute_url}}"
    hx-get="{{product.get_absolute_url}}"
    hx-target="#main-content"
    hx-push-url="true"
    class="flex-grow block "
  >
    <div
      class="relative flex flex-col justify-between flex-grow h-full overflow-hidden transition duration-300 ease-out bg-white rounded shadow-md hover:shadow-xl hover:scale-105 hover:cursor-pointer group"
    >
      <div>
        <img
          src="{{product.images.first.image.url}}"
          alt="{{product.name}}"
          class="object-cover w-full max-h-64"
        />
      </div>
      <div class="m-4 ">
        <span class="block text-sm text-gray-500">{{product.slug}} </span>
      </div>
    </div>
  </a>
</div>
