<div>
    <h2 class="p-2 text-lg font-bold uppercase">products list</h2>
  </div>
  <div
    class="grid w-full gap-8 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1"
  >
    {% for product in products %}
    <div class="flex flex-col justify-between h-[100%]">
        <a href="{{product.get_absolute_url}}" class="flex-grow block ">
          <div
            class="relative flex flex-col justify-between flex-grow h-full overflow-hidden transition duration-300 ease-out bg-white rounded-md shadow-md hover:shadow-xl hover:scale-105 hover:cursor-pointer group"
          >
          <div>
            <img
              src="{{product.images.first.image.url}}"
              alt="{{product.name}}"
              class="object-cover w-full max-h-64"
            />
          </div>
            <div class="m-4 ">
              <span class="block text-sm text-gray-500"
                >{{product.slug}}</span
              >
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>