<div class="custom-container">
  <div>
    {% include "snippet/page-title.html" %}
    {% include "snippet/breadcrumbs.html" %}
  </div>
  {% with next_name=next_object.name previous_name=previous_object.name %}
    {% include "snippet/pagination-prev-next.html" %}
  {% endwith %}
  <div class="bg-white rounded ">
    <div class="mx-auto ">
      {% include 'products/partial/carousel-product.html' %}
    </div>
    <div class="w-full py-12 mt-10 sm:p-5">
      <div class="flow-root">
        <dl class="-my-3 text-sm divide-y divide-gray-100">
          {% for attribute, value in product_data.items %}
            <div class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
              <dt class="px-2 font-medium text-gray-900">
                {{ attribute }}
              </dt>
              <dd class="px-2 text-gray-700 sm:col-span-2">
                {{ value }}
              </dd>
            </div>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
  <div class="py-4 text-center text-gray-400">* You could use the left and right arrow keys to navigate to the previous and next product, respectively.</div>
</div>
