{% extends "base.html" %}
{% block content %}
  <div class="custom-container prose py-10 bg-white">
    <div class="py-10 max-w-none prose">
      <h2>
        Product Description
      </h2>
      <div class="mr-auto -mt-6 custom-bar">
      </div>
      <div>
        <h3 class="font-bold">
          Features
        </h3>
        <div class="custom-bar -mt-3">
        </div>
        <p>
          &bull; Open system: Accepts all standard syringes of 5ml, 10ml, 20ml/30ml, 50ml/60ml.
        </p>
        <p>
          &bull; Large COLOR TFT display with adjustable brightness.
        </p>
        <p>
          &bull; Manual and Automatic Bolus function.
        </p>
        <p>
          &bull; Anti-bolus system to reduce significantly after occlusion sutden release.
        </p>
        <p>
          &bull; DPS Occlusion Pressure display.
        </p>
        <p>
          &bull; 2000 events stored can be checked and downloaded.
        </p>
        <p>
          &bull; Five work modes: Rate Mode, Time Mode, Dose Mode, Sequential Mode and DrugLibrary Mode.
        </p>
        <p>
          &bull; Drug library with 1030 injection records (Optional).
        </p>
        <p>
          &bull; Identify the specifications of syringe automatically.
        </p>
        <p>
          &bull; Audible and visual alarm: Syringe Holder Loose, Syringe Plunger Disengagement,Syringe Flange Insertion Error, Syringe Not Calibrated, Occlusion, Syringe Empty,Rate Abnormal, Battery Empty, No Battery, Key Holding During Infusion, KeyHolding During Pause, Infusion Complete, Syringe Near Empty, No Action, Battery Low, Out of Flow Range
        </p>
        <p>
          &bull; Freely Stackable: Users can freely stack one syringe pump onto another to provide multiple Solutions
        </p>
        <p>
          &bull; Automatically record of infusion.
        </p>
        <p>
          &bull; Visual and audible alarm system and accurate injection rate make the injection process safer and reliable.
        </p>
        <p>
          &bull; KVO and Bolus functions.
        </p>
        <p>
          &bull; Change the flow rate without stop during infusion.
        </p>
        <p>
          &bull; 12 Hours Internal Battery continuous operation.
        </p>
        <p>
          &bull; Accurate and sensitive pressure sensor detects occlusion pressure accurately.
        </p>
        <p>
          &bull;&nbsp; Excellent injection operation. The accuracy will be ensured even at small-volume injection.
        </p>
        <p>
          &nbsp;
        </p>
        <h3 class="font-bold">
          Technical Specifications of Syringe pump (DPfusion SP1/SP3)
        </h3>
        <div class="custom-bar -mt-3">
        </div>
        <div class="w-full py-12 mt-10 sm:p-5 ">
          <div class="flow-root">
            <table class="-my-3 text-sm divide-y divide-gray-100 border-y border-cyan-500">
              <!-- 表头 -->
              <tr class="grid grid-cols-1 gap-1 py-3   sm:grid-cols-3 sm:gap-4">
                <th class="px-2  text-gray-900 my-auto ">
                  PARAMETER
                </th>
                <th class="px-2 text-gray-700 sm:col-span-2">
                  SPECIFICATION
                </th>
              </tr>
              <!-- 表格内容 -->
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Applicable syringes
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  5ml, 10ml, 20ml, 30ml, 50ml, 60ml of any standard
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Accuracy
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  +/- 2% with correct calibration
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Rate mode
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  50ml(60ml)：0.1ml/h-2000.0ml/h (0.1ml/h or 1ml/h step)
                  <br>
                  30ml：0.1ml/h-1200.0ml/h (0.1ml/h or 1ml/h step)
                  <br>
                  20ml：0.1ml/h-800.0ml/h (0.1ml/h or 1ml/h step)
                  <br>
                  10ml：0.1ml/h-400.0ml/h (0.1ml/h or 1ml/h step)
                  <br>
                  5ml: 0.1~200ml/h (0.1ml/h or 1ml/h step)
                  <br>
                  (Programmable 0.01ml/h~9999.9ml/h)
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Time Mode
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  SOL. VOL:0.1-9999.9ml (0.1ml step)
                  <br>
                  TIME: 00:01-99:59min (1min step)
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Dose Mode:
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  Volume: 0.1-999.9ml(0.1ml step)
                  <br>
                  DRUG MASS: 0.1-999.9mg (0.1mg step)
                  <br>
                  DOSE: 0.001-9999ug/kg/min (0.001ug/kg/min step)
                  <br>
                  WEIGHT: 0.1-300kg (0.1kg least step)
                  <br>
                  Dose unit: ng/kg/min, ug/kg/min, mg/kg/min, g/kg/min, ug/kg/h,
                  mg/kg/h, g/kg/h, ug/min, mg/min, g/min, ug/h, mg/h, g/h, U/min, U/h, IU/h, U/kg/h, ml/h
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Total Volume Range
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  0.1-9999.9ml (0.1 ml step)
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Drug library Mode
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  Available (Only for SP3)
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Sequential mode
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  Available (Only for SP3)
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Purge Rate
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  50ml(60ml): 1500.0ml/h,
                  30ml: 1200.0ml/h,
                  20ml: 800.0ml/h,
                  10ml: 400.0ml/h, 5ml: 200ml/h,
                  Programmable and adjustable
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  KVO Rate
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  0.1~5.0 ml/h, Programmable and adjustable
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  DPS dynamic pressure
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  24 levels setting
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Alarms
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  Syringe Holder Loose, Syringe Plunger Disengagement, Syringe Flange Insertion Error, Syringe Not Calibrated, Occlusion, Syringe Empty, Rate Abnormal, Battery Empty, No Battery, Infusion Complete, Syringe Near Empty, No Action, Battery Low.
                  Three levels of alarm volume LOW, MEDIUM, or HIGH.
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Bolus Rate
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  5ml: 0.1~200ml/h,
                  <br>
                  10ml: 0.1-400ml/h,
                  <br>
                  20ml: 0.1-800ml/h,
                  <br>
                  30ml: 0.1-1200ml/h,
                  <br>
                  50ml(60ml): 0.1-2000ml/h.
                  <br>
                  Programmable and adjustable, Automatic/Manual bolus available.
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Bolus Volume
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  Range: 1.0~50.0ml, (0.1ml step)
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Interface
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  RS-232
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Brightness
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  1~10 levels can be selected
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  History records
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  2000 events stored can be checked and downloaded
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Power source
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  AC power supply: AC 100 to 240V (+/-10%), 50/60Hz;
                  DC Power supply: 12~15V, power >15W;
                  Built-in Lithium Battery: Rechargeable, 7.4 V, 2600mAh.
                  8 hours of continuous operation
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Accessories
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  AC power line, Operational manual
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Protection Class
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  Class I, Type CF, IP44
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Dimension / N.W
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  240mm*150mm*117mm, 2.0kg
                </td>
              </tr>
              <tr class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <td class="px-2 font-medium text-gray-900 my-auto">
                  Packing size/G.W
                </td>
                <td class="px-2 text-gray-700 sm:col-span-2">
                  300mm*260mm*160mm, 3.0KG
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
