{% extends "base.html" %}
{% block content %}
  <div class="flex flex-col-reverse lg:grid grid-cols-1 bg-white  lg:grid-cols-[1fr_280px] ">
    <main id="main-content">
      {% include "blog/partial/main-list.html" %}
  </main>
    <div class="bg-gray-100 flex justify-center items-start">
      <aside class="my-5 lg:w-auto px-16 lg:px-0 w-full  text-center">
        <h2 class="p-2 text-lg font-bold uppercase">
          blog category
        </h2>
        {% with categories=blog_categories %}
          {% include "partial/sidebar.html" %}
        {% endwith %}
      </aside>
    </div>
  </div>
{% endblock %}
