{% extends "base.html" %}
{% block content %}
  <div class="flex flex-col-reverse lg:grid grid-cols-1 bg-white  lg:grid-cols-[1fr_280px] ">
    <main id="main-content">
      {% include partial_template_path %}
    </main>
    <aside class=" p-3 text-center bg-gray-50">
      <h2 class="p-2 text-lg font-bold uppercase ">
        blog categories
      </h2>
      {% with categories=blog_categories %}
        {% include "partial/sidebar.html" %}
      {% endwith %}
    </aside>
  </div>
{% endblock %}
