{% extends "base.html" %}
{% block content %}
  <div class="custom-container">
    <section class="p-10 mx-auto prose bg-white rounded max-w-none ">
      <h2>
        Core Values
      </h2>
      <article>
        <h3>
          Professionalism & Innovation:
        </h3>
        <p>
          <strong>Definition:</strong> We dedicate ourselves to maintaining the
          highest level of professionalism while continuously improving our
          products and services through innovation.
        </p>
        <p>
          <strong>Practice:</strong> Stay updated with the latest knowledge in
          veterinary medicine and actively adopt new technologies and methods.
        </p>
      </article>
      <article>
        <h3>
          Quality First:
        </h3>
        <p>
          <strong>Definition:</strong> We are committed to offering veterinary
          products of superior quality, efficacy, and safety, ensuring the health
          and welfare of animals.
        </p>
        <p>
          <strong>Practice:</strong> Implement rigorous quality control processes
          and continuous efforts for quality improvement.
        </p>
      </article>
      <article>
        <h3>
          Customer Centricity:
        </h3>
        <p>
          <strong>Definition:</strong> Understanding deeply the needs and
          expectations of our clients, we strive to provide services and solutions
          that exceed their expectations.
        </p>
        <p>
          <strong>Practice:</strong> Actively listen to customer feedback and
          respond to their needs promptly.
        </p>
      </article>
      <article>
        <h3>
          Integrity & Transparency:
        </h3>
        <p>
          <strong>Definition:</strong> Demonstrating honesty and transparency in
          all our business practices, we earn the trust of our customers and
          partners.
        </p>
        <p>
          <strong>Practice:</strong> Communicate openly with customers and
          partners to ensure fairness and transparency in business transactions.
        </p>
      </article>
      <article>
        <h3>
          Sustainability:
        </h3>
        <p>
          <strong>Definition:</strong> We engage in sustainable business practices
          to minimize our environmental impact while driving the long-term success
          and stability of the industry.
        </p>
        <p>
          <strong>Practice:</strong> Implement environmentally friendly operations
          and production practices and actively participate in and support
          sustainable development initiatives in the industry.
        </p>
      </article>
      <article >
        <h3>
          Global Mindset:
        </h3>
        <p>
          <strong>Definition:</strong> As a foreign trade company, we acknowledge
          and respect the diversity of different cultures and markets, approaching
          business growth with a global perspective.
        </p>
        <p>
          <strong>Practice:</strong> Cultivate international vision and cultural
          sensitivity among the team and devise diversified market strategies.
        </p>
      </article>
      <h2>
        Implementation Suggestions:
      </h2>
      <ul>
        <li>
          Training & Communication: Train and communicate the core values to
          employees.
        </li>
        <li>
          Examples & Stories: Share real examples and stories of how the company
          and employees embody these core values.
        </li>
        <li>
          Continuous Improvement: Regularly review and update core values to
          reflect the company's growth and changes in the industry.
        </li>
      </ul>
    </section>
    {% include "form_handlers/inquiry.html" %}
  </div>
{% endblock content %}
