{% extends "base.html" %}
{% block content %}
  <div class="custom-container">
    {% with main_title="contact us" %}
    {% include "snippet/page-title.html" %}
    {% endwith %}

    {% comment %} <div class="grid grid-cols-1 gap-4 my-10 lg:grid-cols-2 lg:gap-8"> {% endcomment %}
    <div class="p-10 py-20 bg-gray-100 ">
      Welcome to our Contact Page! We greatly value your feedback and inquiries. If you have any questions, suggestions, or require support, we are here to assist you. Please reach out to us through the following contact details, and our team will respond to you as quickly as possible, usually within 24 hours.
    </div>
    <div class="flow-root p-10">
      <dl class="-my-3 text-sm divide-y divide-gray-100">
        {% for name,c in contact.items %}
          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900 capitalize">
              {{ c.name }}
            </dt>
            <dd class="text-gray-700 sm:col-span-2">
              {% if c.info and c.link %}
                <a href="{{ c.link }}"
                   class="underline hover:underline-offset-4 underline-offset-2">{{ c.info }}</a>
              {% else %}
                {{ c.info }}
              {% endif %}
            </dd>
          </div>
        {% endfor %}
      </dl>
    </div>
    {% comment %} </div> {% endcomment %}
    {% include "form_handlers/inquiry.html" %}
  </div>
{% endblock content %}
