{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django tailwind
      {% endblock title %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

  </head>
  <body x-data="{openMobileNav:false}" class="bg-gray-50 font-montserrat">
    <header class=" sticky top-0 z-50 w-full {% block header_class %}shadow-lg{% endblock %}">
      <div class="flex items-center justify-between h-20 px-8 py-2 bg-white ">
        <!-- 1.logo -->
        <a href="/" class="text-lg font-bold">CiyeLogo</a>
        <!-- 2.hamburger -->
        <div @click="openMobileNav=!openMobileNav" class="cursor-pointer md:hidden" x-cloak="">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-6 h-6"
               x-show="!openMobileNav"
               >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-6 h-6"
               x-show="openMobileNav">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        <!-- 3. main nav -->
        <nav class="hidden md:flex">
          {% include 'partial/nav-list.html' %}
        </nav>
        <div class="hidden md:block shrink">
          {% include 'search/partial/searchbar-header.html' %}
        </div>
      </div>
      <!-- mobile nav -->
      <nav class="absolute z-10 w-screen px-2 bg-white shadow md:hidden"
           x-show.transition="openMobileNav"
           @click.away="openMobileNav=false">
        {% include 'partial/nav-list.html' %}
        <!-- <div class="flex justify-center py-2">
          {% include 'search/partial/searchbar-header.html' %}
        </div> -->
      </nav>
    </header>
    {% block content %}
    {% endblock content %}

    {%include 'partial/button-contact.html'%}
    {%include 'partial/footer.html'%}

  </body>
</html>
