{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Ciye Co.
      {% endblock title %}
    </title>
    <script src="{% static 'js/alpine/2.8.2/alpine.min.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
    <script src="{% static 'js/htmx/1.9.5/htmx.min.js' %}"></script>
    <script defer src="{% static 'js/flowbite/1.8.1/flowbite.min.js' %}"></script>
  </head>
  <body x-data="{openMobileNav:false}" x-on:close-mobile-nav="openMobileNav = false" class="bg-gray-50 font-montserrat">
    <div id="progress-container">
      <div id="progress-bar"></div>
    </div>    
    <header class=" sticky top-0 z-50 w-full " >
      <div class="flex items-center justify-between h-20 gap-3 px-8 py-2 bg-white ">
        <!-- 1.logo -->
        <a href="/" class="text-lg font-bold">CiyeLogo</a>
        <!-- 3. main nav -->
        <nav class="hidden lg:flex">
          {% include 'partial/nav-list.html' %}
        </nav>
        <div class="static block ">
          {% include 'search/partial/searchbar-header.html' %}
        </div>
        <!-- 2.hamburger -->
        <div @click="openMobileNav=!openMobileNav"
             class="cursor-pointer lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-6 h-6"
               x-show="!openMobileNav">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-6 h-6"
               x-show="openMobileNav">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </div>
      <!-- mobile nav -->
      <nav class="absolute z-10 w-screen px-2 bg-white shadow lg:hidden"
           x-show.transition="openMobileNav"
           @click.away="openMobileNav=false">
        {% include 'partial/nav-list.html' %}
        {% comment %} <div class="relative flex justify-center py-2">
          {% include 'search/partial/searchbar-header.html' %}
        </div> {% endcomment %}
      </nav>
    </header>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% include 'partial/button-contact.html' %}
    {% include 'partial/footer.html' %}
  </body>
</html>
