<section class="sticky z-10 bg-white border-b border-white top-20">
  <div
    class="flex flex-col px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 sm:flex-row sm:items-center"
  >
    <form
      class="relative flex flex-auto"
      x-data="{ preventEnter: $event => $event.key === 'Enter' && $event.preventDefault() }"
      x-on:keydown.prevent.enter="preventEnter"
      hx-get="/search/products/"
      hx-target="#main-content"
      hx-trigger="input delay:500ms"
      hx-push-url="true"
      hx-validate="go change"
      hx-boost="true"
    >
    <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="w-5 text-cyan-500"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
    />
  </svg>
      <input
        type="search"
        aria-label="Search all products"
        placeholder="Search all products..."
        class="block w-full  rounded-lg bg-transparent py-6 pl-2 pr-4 text-base text-slate-900 transition placeholder:text-slate-400 focus:outline-none sm:text-[0.8125rem] sm:leading-6  focus:ring-0 border-0"
        name="q"
        value=""
        autocomplete="off"
        required
      />
      {% comment %} {% include "search/svg/search.svg" %} {% endcomment %}
    </form>
  </div>
</section>
