<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<div class="relative bg-[url({{ banner.image.url }})] bg-cover bg-center bg-no-repeat">
  {% comment %} class="relative bg-[url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)] bg-cover bg-center bg-no-repeat" {% endcomment %}
  <div class="absolute inset-0 bg-white/75 sm:from-white/95 sm:to-black/25 sm:bg-gradient-to-r ">
  </div>
  <div class="relative max-w-screen-xl px-4 py-32 mx-auto bg-gradient-to-r sm:px-6 lg:flex lg:items-center lg:px-8">
    <div class="max-w-xl text-center sm:text-left ">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Caring Wholeheartedly for
        <strong class="block font-extrabold text-cyan-600">
          Every <span class="text-rose-600">Furry</span> Friend.
        </strong>
      </h1>
      <p class="mt-4 sm:text-xl/relaxed ">
        We are a global provider specializing in high-quality veterinary medicines and animal healthcare devices.
        Specializing in premium veterinary medicines and animal healthcare devices, we are dedicated to promoting the health and well-being of animals globally.
      </p>
      <div class="flex flex-wrap gap-4 mt-8 text-center">
        <a href="/products/"
           class="block w-full px-12 py-3 text-sm font-medium text-white rounded shadow bg-cyan-500 hover:bg-cyan-700 focus:outline-none sm:w-auto"
           hx-get="/products/"
           hx-target="#content"
           hx-swap="innerHTML scroll:top"
           hx-push-url="true"
           hx-indicator="#progress-bar"
           hx-swap="innerHTML scroll:top"
           data-scroll-to-top="true">
          Get Started
        </a>
        <a href="/about/"
           hx-get="{% url "about" %}"
           hx-target="#content"
           hx-swap="innerHTML"
           hx-push-url="true"
           data-scroll-to-top="true"
           hx-indicator="#progress-bar"
           class="block w-full px-12 py-3 text-sm font-medium bg-white rounded shadow text-cyan-500 hover:text-cyan-700 focus:outline-none sm:w-auto">
          Learn More
        </a>
      </div>
    </div>
  </div>
</div>
