<ul class="flex flex-col gap-8 p-4 text-center uppercase md:flex-row md:p-0"
    x-cloak="">
  <li class="py-2 duration-500 rounded md:border-gray-100 hover:drop-shadow-md md:inline-flex ">
    <a class="duration-500 border-b-4 border-white hover:border-red-500"
       href="{% url 'index' %}">Home</a>
  </li>
  <li x-data="{openTab:false,showIcon:false}"
      @click="openTab=!openTab"
      @click.away="openTab=false"
      class="relative duration-500 rounded cursor-pointer md:px-3 md:py-2 md:inline-flex">
    <span class="items-center gap-1 duration-500 border-b-4 hover:border-red-500 md:inline-flex ">
      Products
    </span>
    <div class="md:absolute  md:top-[100%] z-50 md:left-1/2 md:transform md:-translate-x-1/2 min-w-max">
      <ul x-show.transition="openTab"
          x-transition:enter="transition duration-200"
          x-transition:enter-start="opacity-0 transform -translate-y-3"
          x-transition:enter-end="opacity-100 transform translate-y-0"
          x-transition:leave="transition  duration-200"
          x-transition:leave-start="opacity-100 transform translate-y-0"
          x-transition:leave-end="opacity-0 transform -translate-y-3"
          class="flex flex-col text-center ">
        <a href="/products/" class="group">
          <li class="inline-block w-full py-2 duration-500 sm:px-3 md:shadow-md hover:bg-slate-200 bg-gray-50 border-red-50 rounded-t-md">
            <span class="font-semibold duration-500 border-b-4 border-gray-50 group-hover:border-red-500">
            Products</span>
          </li>
        </a>
        {% for node in product_root_categories %}
          <a href="{{ node.get_absolute_url }}" class="group">
            <li class="inline-block py-2 duration-500  w-full md:shadow-md hover:bg-slate-200 bg-gray-50 border-red-50 {% if forloop.last %}rounded-b-md{% endif %}">
              <span class="duration-500 border-b-4 border-gray-50 group-hover:border-red-500">
                {{ node.name }}
              </span>
            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </li>
  <li x-data="{openTab:false,showIcon:false}"
      @click="openTab=!openTab"
      @click.away="openTab=false"
      class="relative duration-500 rounded cursor-pointer md:px-3 md:py-2 md:inline-flex">
    <!-- @mouseenter.stop="openTab=!openTab"
    @mouseleave.stop="openTab=!openTab"
    @touchend.stop="openTab=!openTab"
    @touchstart.stop="openTab=!openTab" -->
    <span class="items-center gap-1 duration-500 border-b-4 hover:border-red-500 md:inline-flex ">
      blog
    </span>
    <div class=" md:absolute md:top-full md:left-1/2 md:transform md:-translate-x-1/2 min-w-max">
      <ul x-show.transition="openTab"
          x-transition:enter="transition duration-200"
          x-transition:enter-start="opacity-0 transform -translate-y-3"
          x-transition:enter-end="opacity-100 transform translate-y-0"
          x-transition:leave="transition  duration-200"
          x-transition:leave-start="opacity-100 transform translate-y-0"
          x-transition:leave-end="opacity-0 transform -translate-y-3"
          class="flex flex-col text-center ">
        <a href="/blog/" class=" group">
          <li class="inline-block w-full px-3 py-2 duration-500 md:shadow-md hover:bg-slate-200 bg-gray-50 border-red-50 rounded-t-md">
            <span class="font-semibold duration-500 border-b-4 border-gray-50 group-hover:border-red-500">
            blog</span>
          </li>
        </a>
        {% for node in blog_root_categories %}
          <a href="{{ node.get_absolute_url }}" class=" group">
            <li class="inline-block w-full px-3 py-2 duration-500   md:shadow-md hover:bg-slate-200 bg-gray-50 border-red-50 {% if forloop.last %}rounded-b-md{% endif %}">
              <span class="duration-500 border-b-4 border-gray-50 group-hover:border-red-500">
                {{ node.name }}
              </span>
            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </li>
  <li class="py-2 duration-500 rounded md:border-gray-100 hover:drop-shadow-md md:inline-flex ">
    <a class="duration-500 border-b-4 border-white hover:border-red-500"
       href="/contact/">contact</a>
  </li>
  <li class="py-2 duration-500 rounded md:border-gray-100 hover:drop-shadow-md md:inline-flex ">
    <a class="duration-500 border-b-4 border-white hover:border-red-500"
       href="/about/">about</a>
  </li>
</ul>
