<ul class="flex flex-col gap-8 p-4 text-center uppercase md:flex-row md:p-0 px-36"
    x-cloak="">
  <li class="py-2 duration-500 rounded md:border-gray-100 hover:drop-shadow-md md:inline-flex ">
    <a class="duration-500 border-b-2 md:border-white hover:border-red-500"
       href="">Home</a>
  </li>
  <li x-data="{openTab:false,showIcon:false}"
      @click.prevent="openTab=!openTab"
      @click.away="openTab=false"
      class="relative duration-500 rounded md:px-3 md:py-2 md:inline-flex">
    <!-- x-on:mouseout="openTab=false"
    x-on:mouseover="openTab=true" -->
    <!-- @mouseover="showIcon=true"
    @mouseout="showIcon=false" -->
    <a href=""
       class="items-center gap-1 duration-500 border-b-2 hover:border-red-500 md:inline-flex border-red-50">Products
      <!-- <div x-show.transition="showIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 mx-auto">
        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd" />
      </svg>
      </div> -->
    </a>
    <div class="md:absolute md:top-[100%] md:inset-0 ">
      <ul x-show.transition="openTab" class="text-center ">
        <li class="inline-block px-3 py-2 duration-500  w-full shadow-md hover:bg-slate-200 bg-gray-50 border-red-50 rounded-t-md">
          <a href=""
             class=" hover:border-red-500 border-white border-b-2 duration-500">
          All Products</a>
        </li>
        {% for node in root_categories %}
          <li class="inline-block px-3 py-2 duration-500  w-full shadow-md hover:bg-slate-200 bg-gray-50 border-red-50 {% if forloop.last %}rounded-b-md{% endif %}">
            <a href=""
               class=" hover:border-red-500 border-white border-b-2 duration-500">
              {{ node.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </li>
  <li class="py-2 duration-500 rounded md:border-gray-100 hover:drop-shadow-md md:inline-flex ">
    <a class="duration-500 hover:border-red-500" href="">Blog</a>
  </li>
  <li class="py-2 duration-500 rounded md:border-gray-100 hover:drop-shadow-md md:inline-flex ">
    <a class="duration-500 border-b-2 border-red-50 hover:border-red-500"
       href="">news</a>
  </li>
  <li class="py-2 duration-500 rounded md:border-gray-100 hover:drop-shadow-md md:inline-flex ">
    <a class="duration-500 border-b-2 border-red-50 hover:border-red-500"
       href="">Contact</a>
  </li>
  <li class="py-2 duration-500 rounded md:border-gray-100 hover:drop-shadow-md md:inline-flex ">
    <a class="duration-500 border-b-2 border-red-50 hover:border-red-500"
       href="">About</a>
  </li>
</ul>
