<!-- templates/partial/pagination.html -->
{% with q=request.GET.q|default:'' %}
  <div class="flex flex-wrap items-center justify-center p-4 my-4 space-x-1 text-white select-none pagination"
       x-data>
    <!-- Previous Page -->
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }} "
         hx-get="?{% if q %}q={{ q|urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}"
         hx-target="#main-content"
         hx-push-url="true"
         hx-boost="true"
         hx-indicator="#progress-bar"
         data-scroll-to-top="true"
         class="px-3 py-2 transition duration-300 ease-in-out rounded-md shadow-sm bg-cyan-500 group"
         x-ref="previousLink"
         @keydown.window="$event.keyCode === 37 ? $refs.previousLink.click() : null">
        <span class="duration-300 ease-in-out group-hover:underline group-hover:underline-offset-4">Previous</span></a>
      {% comment %} {% else %}
      <span>Previous</span> {% endcomment %}
    {% endif %}
    <!-- n/N -->
    <span class="px-3 py-2 transition duration-300 ease-in-out rounded-md shadow-sm bg-cyan-500 group">{{ page_obj.number }} / {{ paginator.num_pages }}</span>
    <!-- Individual Page Numbers -->
    {% for page_num in paginator.page_range %}
      {% if page_obj.number == page_num %}
        <p class="px-3 py-2 transition duration-300 ease-in-out rounded-md shadow-sm bg-cyan-500 group">
          <span class="border-b border-red-500">{{ page_num }}</span>
        </p>
      {% else %}
        <a href="?page={{ page_num }}"
           hx-get="?{% if q %}q={{ q|urlencode }}&{% endif %}page={{ page_num }}"
           hx-target="#main-content"
           hx-push-url="true"
           hx-boost="true"
           hx-indicator="#progress-bar"
           data-scroll-to-top="true"
           class="px-3 py-2 transition duration-300 ease-in-out rounded-md shadow-sm bg-cyan-500 group">
          <span class="duration-300 ease-in-out group-hover:underline group-hover:underline-offset-4">
            {{ page_num }}
          </span></a>
        {% endif %}
      {% endfor %}
      <!-- Next Page -->
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"
           hx-get="?{% if q %}q={{ q|urlencode }}&{% endif %}page={{ page_obj.next_page_number }}"
           hx-target="#main-content"
           hx-push-url="true"
           hx-boost="true"
           hx-indicator="#progress-bar"
           data-scroll-to-top="true"
           class="px-3 py-2 transition duration-300 ease-in-out rounded-md bg-cyan-500 group"
           x-ref="nextLink"
           @keydown.window="$event.keyCode === 39 ? $refs.nextLink.click() : null">
          <span class="duration-300 ease-in-out group-hover:underline group-hover:underline-offset-4 ">Next</span></a>
      </a>
      {% comment %} {% else %}
      <span>Next</span> {% endcomment %}
    {% endif %}
    <div class="w-full py-4 my-2 text-center text-gray-400">
      * You could use the left 
      <kbd class="inline-flex items-center px-2 mx-2 py-1.5 text-gray-500 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">
        <svg class="w-2 h-2"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor"
             viewBox="0 0 10 16">
          <path d="M8.766.566A2 2 0 0 0 6.586 1L1 6.586a2 2 0 0 0 0 2.828L6.586 15A2 2 0 0 0 10 13.586V2.414A2 2 0 0 0 8.766.566Z" />
        </svg>
        <span class="sr-only">Arrow key left</span>
      </kbd>
       and right 
      <kbd class="inline-flex items-center px-2 py-1.5 text-gray-500 mx-2 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">
        <svg class="w-2 h-2"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor"
             viewBox="0 0 10 16">
          <path d="M3.414 1A2 2 0 0 0 0 2.414v11.172A2 2 0 0 0 3.414 15L9 9.414a2 2 0 0 0 0-2.828L3.414 1Z" />
        </svg>
        <span class="sr-only">Arrow key right</span>
      </kbd>
      arrows on your keyboard to navigate pages.
    </div>
  </div>
{% endwith %}
