{% extends "base.html" %}
{% block content %}
  {% include 'search/partial/searchbar-product.html' %}
  <main class="flex flex-col lg:grid grid-cols-1 bg-white  lg:grid-cols-[1fr_280px] ">
    {% comment %} flex-col-reverse {% endcomment %}
    <section id="main-content">
      {% include partial_template_path %}
    </section>
    {% with categories=product_categories category='product' %}
      {% include "partial/sidebar.html" %}
    {% endwith %}
  </main>
  {% include "form_handlers/inquiry.html" %}
{% endblock content %}
