{% extends "base.html" %} {% block content %}
{% include 'search/partial/searchbar-product.html' %}
<div class="flex lg:px-28 ">
  <main class="w-full px-10" id="main-content">
    <h1 class="p-2 text-lg font-bold uppercase">products list</h1>

    {% for root_node, products in root_nodes_data.items %}
    <h2 class="p-2 text-lg font-bold uppercase">{{ root_node.name }}</h2>

    <ul class="p-5">
      {% for product in products %}
      <li>{{ product.name }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </main>
  <aside class="text-center">
    <h2 class="p-2 text-lg font-bold uppercase">products category</h2>
    {% include "partial/sidebar.html" %}
  </aside>
</div>
{% endblock content %}
