{% extends "base.html" %}
{% comment %} {% block header_class %}
  shadow-none
{% endblock %} {% endcomment %}
{% block content %}
  {% include 'search/partial/searchbar-product.html' %}
  <main class="flex flex-col-reverse lg:grid grid-cols-1 bg-white  lg:grid-cols-[1fr_280px] ">
    <section id="main-content">
      {% include partial_template_path %}
    </section>
    {% with categories=product_categories category='product' %}
      {% include "partial/sidebar.html" %}
    {% endwith %}
  </main>
  {% include "form_handlers/inquiry.html" %}
{% endblock content %}
