{% extends "base.html" %}
{% block content %}
  <div class="py-8 text-center bg-white">
    <h1>
      Product list
    </h1>
  </div>
  <div class="flex lg:px-28 mt-5">
    <main class="w-full px-5" id="main-content">
      {% include "products/partial/list-main.html" %}
    </main>
    <aside class="text-center px-5">
      <h2 class="p-2 text-lg font-bold uppercase">
        products category
      </h2>
      <!-- {% with categories=product_categories %} -->
        {% include "partial/sidebar.html" %}
      <!-- {% endwith %} -->
    </aside>
  </div>
{% endblock content %}
