{% extends "base.html" %} 
{% block content %}


<div class="custom-container">

  <div>
    {% comment %} <h2 class="p-2 text-lg font-bold uppercase">
      products
    </h2> {% endcomment %}
    {% comment %} {% for root_node, products in root_nodes_data.items %}
      <h2 class="p-2 text-lg font-bold uppercase">
        {{ root_node.name }}
      </h2>
      <div class="grid w-full gap-8 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1">
        {% for product in products %}
          {% include 'products\partial\card-product.html' %}
        {% endfor %}
      </div>
    {% endfor %} {% endcomment %}
  
    {% include "products/partial/featured-section.html" %}
  </div>

</div>
<div class="mt-10">

  {% include "form_handlers/inquiry.html" %}
</div>
{% endblock content %}
