{% extends "base.html" %}
{% block header_class %}
  shadow-none
{% endblock %}
{% block content %}
  {% include 'search/partial/searchbar-product.html' %}
  <section class="flex flex-col-reverse lg:grid grid-cols-1 bg-white  lg:grid-cols-[1fr_280px] ">
    <main id="main-content">
      {% include partial_template_path %}
    </main>
    {% with categories=product_categories category='product' %}
      {% include "partial/sidebar.html" %}
    {% endwith %}
  </section>
  {% include "form_handlers/inquiry.html" %}
{% endblock content %}
