<section class="bg-gray-100" id="inquiry-section">
  <div class="px-4 py-16 custom-container sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:col-span-2 lg:py-12">
        <p class="text-lg ">
          Have a question or need assistance? Feel free to drop us an email at
        </p>
        <div class="my-4">
          <a href="mailto:{{ contact.email.info }}"
             class="text-2xl font-bold text-cyan-500">
            {{ contact.email.info }}
          </a>
          <!-- <address class="mt-2 not-italic">
              282 Kevin Brook, Imogeneborough, CA 58517
            </address> -->
        </div>
        <p class="text-lg ">
          for a direct response. Alternatively, you can conveniently use the inquiry form adjacent to this text. We’re here to assist you with any inquiries, concerns, or information you might need. Engage with us and let’s start the conversation - your feedback and questions are invaluable to us!
        </p>
      </div>
      <div id="inquiry-form"
           class="p-8 bg-white rounded shadow lg:col-span-3 lg:p-12">
        <form hx-post="{% url 'inquiry_create' %}"
              hx-on:htmx:after-request="if (event.detail.xhr.status === 200) {this.reset()}"
              hx-on:htmx:response-error=" document.querySelector('#submitted-indicate').innerHTML = '<p class=\'text-red-500 py-2\'>Oops! Something went wrong.Please refresh the page or try again later.</p>';"
              hx-indicator="#submitting"
              hx-swap="outerHTML"
              class="space-y-4"
              hx-target="#submitted-indicate">
          {% csrf_token %}
          {% load widget_tweaks %}
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only">
                Name
              </label>
              {% render_field inquiry_form.name class="w-full p-3 text-sm border-gray-200 rounded" placeholder="Name *" %}
            </div>
            <div>
              <label class="sr-only">
                Institution
              </label>
              {% render_field inquiry_form.institution class="w-full p-3 text-sm border-gray-200 rounded" placeholder="Institution *" %}
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only">
                Email
              </label>
              {% render_field inquiry_form.email class="w-full p-3 text-sm border-gray-200 rounded" placeholder="Email address *"  id="email" %}
            </div>
            <div>
              <label class="sr-only">
                Phone
              </label>
              {% render_field inquiry_form.phone class="w-full p-3 text-sm border-gray-200 rounded" placeholder="Phone Number" id="phone" %}
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
            <div>
              {% render_field inquiry_form.country_region class="w-full p-3 text-sm border-gray-200 rounded" placeholder="Country/Region *" %}
            </div>
            <div>
              {% render_field inquiry_form.state class="w-full p-3 text-sm border-gray-200 rounded" placeholder="State" %}
            </div>
            <div>
              {% render_field inquiry_form.city class="w-full p-3 text-sm border-gray-200 rounded" placeholder="City" %}
            </div>
          </div>
          <div>
            <label class="sr-only">
              Message
            </label>
            {% render_field inquiry_form.message class="w-full p-3 text-sm border-gray-200 rounded" placeholder="Message *" rows="8" id="message" %}
          </div>
          <div class="flex flex-col flex-wrap items-center justify-between mt-4 sm:flex-row">
            <button type="submit"
                    class="relative w-full px-5 py-3 text-sm font-medium text-white rounded shadow  transition hover:bg-cyan-700 bg-cyan-500 sm:w-auto">
              Send Enquiry
              <div id="submitting"
                   class="absolute inline-flex duration-500 transform -translate-x-1/2 -translate-y-1/2 rounded opacity-0 left-1/2 top-1/2 htmx-indicator shrink">
                <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     style="margin: auto;
                            display: block;
                            shape-rendering: auto;
                            animation-play-state: running;
                            animation-delay: 0s"
                     viewBox="0 0 100 100"
                     preserveAspectRatio="xMidYMid"
                     class="w-9 ">
                  <path d="M10 50A40 40 0 0 0 90 50A40 50 0 0 1 10 50" fill="#93dbe9" stroke="#93dbe9" style="animation-play-state: running; animation-delay: 0s;">
                  <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 55;360 50 55" style="animation-play-state: running; animation-delay: 0s;">
                  </animateTransform>
                  </path>
                </svg>
              </div>
            </button>
            <div id="submitted-indicate">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
